<a href="https://colab.research.google.com/github/fajarfat1195/property/blob/main/zoho_crm/zoho_crm_app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import zoho_crm_api_module as crm

In [4]:
cols = [
    'Created_Time',
    'id',
    'Last_Name',
    'Email',
    'Phone',
    'City',
    'Country',
    'Lead_Status',
    'Lead_Type1',
    'Agents'
]

In [5]:
crm_token = crm.get_crm_token()

In [6]:
crm_token

'1000.60545a1e8609d105f6dee6353f643855.75453c5d0835efe4b91e55208e63a396'

In [7]:
leads_df = crm.get_leads_data(crm_token, cols)
# df.fillna('empty', inplace=True)
leads_df

,Created_Time,id,Last_Name,Email,Phone,City,Country,Lead_Status,Lead_Type1,Agents
0,2025-09-25T16:37:01+08:00,6965175000000864001,Jeffrey Slagter,jeffrey.slagter92@gmail.com,+31615528811,NaN,NaN,Attempted to Contact,NaN,NaN
1,2025-09-27T09:52:30+08:00,6965175000000909001,Linda Beamish,lindaannbeamish@gmail.com,0418418444,NaN,NaN,Attempted to Contact,NaN,NaN
2,2025-09-28T00:33:03+08:00,6965175000000927001,Patrick Grauel,patrick.grauel@outlook.de,00491728122120,NaN,NaN,No Response,NaN,NaN
3,2025-09-28T14:27:06+08:00,6965175000000927020,Tolga Kartal,tolga.kartal1@hotmail.com,0439397006,NaN,NaN,Attempted to Contact,NaN,NaN
4,2025-09-30T20:12:45+08:00,6965175000001020001,William Ray,willamrray@gmail.com,+13035073932,NaN,NaN,Attempted to Contact,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
239,2025-12-26T06:37:34+08:00,6965175000004197002,Esther V Arkel,Es.van.arkel@gmail.com,+31633906806,Sanur,Indonesia,Active Lead - abroad,Buyer,Suci
240,2025-12-26T06:35:13+08:00,6965175000004209001,Esther Arkel,es.van.arkel@gmail.com,+62633906806,NaN,NaN,Active Lead - abroad,Buyer,Suci
241,2025-12-27T11:46:03+08:00,6965175000004242001,Ju1103,anombayan42@gmail.com,+6285921018966,NaN,NaN,No Response,NaN,NaN
242,2025-12-28T10:53:44+08:00,6965175000004261001,Ju1103,nissiariowisesa@gmail.com,+6287888727188,NaN,NaN,No Response,NaN,NaN
243,2025-12-30T13:58:56+08:00,6965175000004325001,David Warwick,davidwarwick21@gmail.com,+447595639709,NaN,NaN,No Response,Buyer,Juliette

In [8]:
leads_df.columns

Index(['Created_Time', 'id', 'Last_Name', 'Email', 'Phone', 'City', 'Country',
       'Lead_Status', 'Lead_Type1', 'Agents'],
      dtype='str')

In [10]:
filtered_df = crm.get_leads_data_filter(leads_df)
filtered_df.replace('empty', '', inplace=True)

filtered_df
# filtered_df.to_excel(r'C:\Users\fajar\Documents\Python\Data\push-past-guest-crm.xlsx', index=False)

,Created_Time,id,Last_Name,Email,Phone,City,Country,Lead_Status,Lead_Type1,Agents
0,2025-09-25T16:37:01+08:00,6965175000000864001,Jeffrey Slagter,jeffrey.slagter92@gmail.com,+31615528811,NaN,NaN,Attempted to Contact,NaN,NaN
1,2025-09-27T09:52:30+08:00,6965175000000909001,Linda Beamish,lindaannbeamish@gmail.com,0418418444,NaN,NaN,Attempted to Contact,NaN,NaN
2,2025-09-28T14:27:06+08:00,6965175000000927020,Tolga Kartal,tolga.kartal1@hotmail.com,0439397006,NaN,NaN,Attempted to Contact,NaN,NaN
3,2025-09-30T20:12:45+08:00,6965175000001020001,William Ray,willamrray@gmail.com,+13035073932,NaN,NaN,Attempted to Contact,NaN,NaN
4,2025-10-23T23:32:53+08:00,6965175000001592001,Бегзод Гузоров,guzorovbegzod2@gmail.com,+998885837177,NaN,NaN,Attempted to Contact,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
112,2025-12-10T13:37:16+08:00,6965175000003603241,@Taylanakademi,gulizerent@hotmail.com,NaN,NaN,NaN,Attempted to Contact,Buyer,Suci
113,2025-12-10T13:37:16+08:00,6965175000003603243,Rose Terwilliger,roseterwilliger@yahoo.com,NaN,NaN,NaN,Attempted to Contact,Buyer,Cyril
114,2025-12-10T13:37:16+08:00,6965175000003603244,Ngai Chung Sum,kobechung07@gmail.com,NaN,NaN,NaN,Attempted to Contact,Buyer,Cyril
115,2025-12-10T13:37:16+08:00,6965175000003603245,Stevo Cvetkovic,stevo@cvetkovic.ae,NaN,NaN,NaN,Attempted to Contact,Buyer,Suci
116,2025-12-10T13:37:16+08:00,6965175000003603246,Alex,alexandre.schemel@hotmail.fr,NaN,NaN,NaN,Attempted to Contact,Buyer,Cyril

In [11]:
# filtered_df.columns

seller_cols = [
    "Created_Time",
    "id",
    "Vendor_Name",
    "Owner_id",
    "Sellers_Account_type",
    "Email",
    "Phone",
    "City",
    "Country"
]

In [12]:
seller_df = crm.get_seller_account_data(crm_token, seller_cols)
# df.fillna('empty', inplace=True)
seller_df

,Created_Time,id,Vendor_Name,Owner_id,Sellers_Account_type,Email,Phone,City,Country
0,2025-10-31T16:08:16+08:00,6965175000001846208,Rick Leenheer,6965175000000598187,None,NaN,NaN,None,None
1,2025-11-11T18:16:26+08:00,6965175000002165378,Coco,6965175000000598187,None,NaN,+6281011094,None,None
2,2025-12-10T15:13:12+08:00,6965175000003577206,Victor Remy,6965175000000667009,None,NaN,NaN,None,None
3,2025-12-10T15:13:12+08:00,6965175000003577207,Cedric Henry Levi,6965175000000667009,None,NaN,NaN,None,None
4,2025-12-10T15:13:12+08:00,6965175000003577208,BSH,6965175000000667009,None,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...
423,2025-12-10T15:13:13+08:00,6965175000003616242,JSP Development,6965175000000667009,None,ngurah@jsp-bali.com,+62 812-3661-9575,None,None
424,2025-12-10T15:13:13+08:00,6965175000003616243,CP: Arif,6965175000000667009,None,NaN,+62 812-3567-1795,None,None
425,2026-01-16T08:33:02+08:00,6965175000005137083,Stevan Boulbard,6965175000000598187,None,agency.belfort@gmail.com,+628111444511,None,None
426,2026-01-16T09:09:53+08:00,6965175000005137196,Jan Remer,6965175000000598187,None,NaN,+6281353061162,None,None
427,2026-01-16T09:14:13+08:00,6965175000005137237,Thibaut,6965175000000598187,None,NaN,+6281246089304,None,None